<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name= "viewport" content= "width=device-width, initial-scale=1">

    <title>"Psi"</title>
    <link href ="css/normalize.css" rel= "stylesheet">
    <link href ="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/17c2d4139d.js" crossorigin="anonymous"></script> 
    
    <!--link para la fuente Roboto-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>

<body>

    <header>

        <nav class="nav-logo">
            <h1>Terapia desde Casa - Sesiones virtuales</h1>
            <a class="nav-drop-down" href="#">
                <i class="fas fa-bars btn-burger"></i>
            </a>
        </nav>


        <nav class="links-nav container row">
            <div class="logo col">
                <h1>Terapia desde Casa - Sesiones virtuales</h1>
            </div>
            <div class="col">
                <ul class="row">
                    <li class="col">
                        <a href="#inicio">Inicio</a>
                    </li>
                    <li class="col">
                        <a href="#equipo">Equipo</a>
                    </li>
                    <li class="col">
                        <a href="#metodologia">Metodología</a>
                    </li>
                    <li class="col">
                        <a href="/notas">Notas</a>
                    </li>
                    <li class="col">
                        <a href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main>
        <div class ="container row banner">
            <img class= "banner" src="./img/banner.png" alt="banner terapia desde casa">
            <div class="names">
                <p>Daniela Steiner</p>
                <p>Melania Bernárdez</p>
                <p>Inés Teresa Berro</p>
                <p>Psicólogas</p>
            </div>
        </div>
            <article class=" article-inicio container row" id="inicio">
                <section class="inicio row">
                    <h3 class="intro row">En Terapia desde Casa te proponemos generar un espacio de elaboración para 
                        ayudarte a procesar cambios, experiencias y vivencias, a través de sesiones virtuales.</h3>
                    <div class="text-intro row">
                        <p>Somos un equipo de psicólogas con formación psicoanalítica con amplia trayectoria institucional, 
                            educacional y clínica. Tenemos un sólido conocimiento y conexión con las realidades y vivencias de 
                            las personas argentinas radicadas fuera del país. Nos encanta lo que hacemos y lo hacemos con pasión.</p>
                        <br>
                        <p>Ejercemos nuestra profesión desde hace 30 años atendiendo pacientes de manera ininterrumpida.</p>
                    </div>
                </section>

                
                <section class="inicio row">
                    <h4>¿Por qué decidimos atender online?<br></h4>
                    <p><br>Desde hace varios años gran cantidad tanto de allegados como pacientes decidieron emigrar por distintas razones: 
                        trabajo, pareja, salud, ganas de cambiar de aire. Fue así que nos adentramos en el mundo virtual para continuar con los tratamientos que ya estaban en curso.
                        Nuestra experiencia nos demostró que, a pesar de la desconfianza inicial en esta modalidad de trabajo, se puede tener una terapia exitosa por estos medios. 
                        A raíz de esto, nos animamos a comenzar nuevos procesos terapéuticos con Argentinos que conocimos a través de la cámara web, con quienes pudimos construir un 
                        vínculo paciente/terapeuta que nos permitió llevar adelante los tratamientos con la misma profundidad que se logra en el consultorio.     
                    <br></p>    
                </section>

                <section class="inicio row">
                    <h4><br>¿Qué tipo de terapia hacemos?<br></h4>   
                    <p><br>
                        Ejercemos como psicoterapeutas con formación psicoanalítica y mirada integracionista, contemplando los aportes de las 
                        teorías vinculares. Estamos convencidas que es lo que ayuda a entender el por qué o el para qué de tantas conductas que 
                        a nosotros mismos nos resultan incomprensibles. Mediante la terapia apuntamos a acompañar a nuestros pacientes en el tránsito
                        de  diferentes situaciones conflictivas. Como por ejemplo duelos, separaciones, miedos, problemas de relación con hijos, padres, 
                        problemas laborales, enfermedades, el paso del tiempo…propio y de los demás.<br>
                    </p>

                </section>
                <section class="inicio row">
                        <h4><br>¿A quién nos dirigimos?<br></h4>
                        <p><br>
                            A los/as argentinos/as radicados en el exterior: porque somos argentinas, porque compartimos historia, olores, sabores, 
                            lenguaje,modismos, gestos, emociones, acento… <br>
                        </p>
                        <p><br>
                            Creemos que el compartir la cultura, la lengua y entender la idiosincrasia argentina nos da un valor agregado que hace más fácil
                            el tránsito desde el contacto virtual a la empatía del encuentro, aún a distancia.<br>
                        </p>
                        <h4><br>Nos dedicamos, confiamos en esto y nos ponemos a disposición.<br></h4>
                        <br>
                    </section>

            </article>

            <h2 class="container row equipo">EQUIPO</h2>

            <article class= "container row equipo-curriculum" id="equipo">
                
                <section class= "row Melania">

                    <div class ="col img-Melania">
                        <img src="./img/circle_img-02.png" alt="Melania Bernardez">
                        <p class="col mail">Correo electrónico: mbernardez@gmail.com</p>
                    </div>

                <div class= "col cv-Melania"> 
                    <h2>Lic. Melania Bernárdez</h2>
                    <p>
                            <br>Obtuve mi título de Licenciada en Psicología por la UBA en el año 1983. Mis intereses me 
                            llevaron a realizar especializaciones y estudios de posgrados en Orientación Vocacional Ocupacional,
                            Psicoanálisis de Pareja y familia y Orientación a padres.<br>
                    </p>
                    <p>
                           <br>Egresé de la Asociación Escuela Argentina de Psicoterapia para Graduados, donde hice mi formación en la Especialización
                            en Psicoanálisis.<br>
                    </p>
                    <p>
                            <br>Realicé actividad docente en centros de formación y universidades (AEAPG , USAL, UCA, y en el Hospital de ClÍnicas de
                            Bs. As.). Desde 2017 me desempeño como profesora interina en la Universidad AUSTRAL.<br>
                    </p>
                    <p>
                            <br>También llevo adelante un consultorio privado desde 1985 a la fecha y me dedico a la supervisión clínica a psicólogos
                            con fundamento psicoanalítico desde 2005 a la fecha.<br>
                    </p>
                    <p>
                            <br>Desde 2001 a la fecha realizo un seminario de integración sobre la clínica y la teoría de S. Freud dirigidos a psicólogos.<br>
                    </p>
                </div>
                </section>

                <section class ="row Daniela psicóloga">
                    <div class ="col  img-Daniela">
                        <img src="./img/circle_img-03.png" alt="Daniela Steiner">
                        <p class="col mail">Correo electrónico: steiner_daniela@hotmail.com</p>
                    </div>

                    <div class="col cv-Daniela">
                        <h2>Lic. Daniela Steiner</h2>
                        <p>
                            <br>En el año 1986 me licencié en Psicología en la Universidad de Belgrano. En 1992 egresé de la Asociación Argentina
                            de Psicoterapia para graduados, con una especialización en Psicoanálisis.<br>
                        </p>
                        <p>
                            <br>Desde el año 1987 a 1990 fui Psicóloga Concurrente del Servicio de Salud Mental del Hospital Argerich en 
                            Interconsulta Médico-psicológica y Consultorios externos.<br>
                        </p>
                        <p>
                           <br>A su vez fui psicóloga de la Mutual de Empleados de Banco Shaw desde 1987 a 1990.<br>
                        </p>
                        <p>
                            <br>Trabajé realizando entrevistas psicodiagnósticas a padres en proceso de adopción en el Equipo San José Asistencial 
                            y de Adopción desde el año 2006 a 2008.<br>
                        </p>
                        <p>
                            <br>Me desempeño como profesional en Psicología Clínica y Psicología laboral desde el año 1986 a la actualidad y desde 2016 realizo 
                            supervisión clínica a psicólogos desde la perspectiva psicoanalítica.<br>
                        </p>
                        <p><br>Continúo formándome constantemente a través de seminarios y grupos de estudio en mi especialización.<br></p>
                     
                    </div>
                </section>

                <section class="row Ines psicóloga">
                <div class ="col img-Ines">
                    <img src="./img/circle_img_01.png" alt="Ines Teresa Berro">
                    <p class="col mail">Correo electrónico: inestberro@gmail.com</p>
                </div>

                <div class="col cv-Ines">
                    <h2>Lic. Inés Teresa Berro</h2>
                    <p>
                        <br>Concluí la carrera de Psicología en la UBA en 1985 y luego me aboqué a la formación Psicoanáltica.
                        Egresé y soy miembro de International Psychoanalytical Association y de la Asociación Psicoanalítica Argentina y 
                        egresada de Asociación Escuela Argentina de Psicoterapia para Graduados.<br>
                    </p>
                    <p>
                       <br>Realicé estudios de posgrado y especialización en la University College London, en la University of California, San Francisco y
                        en la Universidad de Saarland, Saarbrücken, Alemania.<br>
                    </p>
                    <p>
                        <br>Realicé actividad docente como profesora Pro-titular en Universidad Católica Argentina en la cátedra de Psicología Profunda, 
                        Facultad de Psicología entre 2000 y 2012, y actualmente me desempeño como profesora a cargo de la cátedra de Teorías Psicológicas
                        I y Psicología de la Personalidad de la Universidad Austral desde 2014 a la fecha.<br>
                    </p>
                    <p>
                        <br>Fui psicóloga de la obra social del personal superior de caucho CAMPSIC desde 1985 hasta 2001.<br>
                    </p>
                    <p>
                        <br>Llevo adelante mi consultorio privado y realizo actividades de supervisión clínica a psicólogos y psiquiatras con fundamento psicoanalítico desde 2005.<br>
                    </p>
                    <p>
                        <br>A su vez, desde 2006 imparto un seminario de integración sobre la clínica y la teoría de S. Freud y D Winnicott dirigidos a psicólogos y psiquiatras. Desde 2010, también formo parte de un grupo de estudio sobre S. Ferenczi y 
                        la línea relacional en psicoanálisis dirigidos a psicólogos.<br>
                    </p>
                    <p>
                        <br>Asimismo, a lo largo de mi carrera adquirí experiencia en actividad hospitalaria. Fui integrante del Equipo de Interconsulta del Hospital Municipal de San Isidro
                        y del Equipo de Psicopatología de ACERVIL (Asociación Centro de Rehabilitación de Vicente López) de 1987 a 1992. De 2005 a 2007 trabajé en la coordinación del área de 
                        diagnóstico del Centro de Estrés Postraumático de Buenos Aires (CEPT).<br>
                    </p>
                </div>
                </section>

            </article>
                
            <h2 class="container row metodologia">METODOLOGÍA</h2>

            <article class="container row metodologia" id="metodologia">
                  <section class="row">  
                    <div class="intro-metodologia row">       
                        <p><br>
                            Nuestra metodología consiste en comenzar con una o dos entrevistas de conocimiento y 
                            diagnóstico para luego acordar un ritmo de sesiones terapéuticas.<br>
                        </p> 
                     </div>
                </section>

                <section class="row">
                    <h3> Entrevista de conocimiento y diagnóstico<br></h3>
                    <p>
                        <br>Como en toda situación nueva pueden surgir dudas y consultas que se aclaran con el profesional. En esta entrevista se analizará el motivo de consulta  y se evaluarán las necesidades terapéuticas. 
                        En función de las mismas, se acordará la frecuencia de las sesiones que serán de 50 minutos. Creemos que la elección debe ser mutua. Es decir, que el analista debe entender 
                        la demanda y el consultante debe sentirse comprendido y a gusto con el profesional.<br>
                    </p>

                    <p>
                        <br>Priorizamos el trato personalizado, la confidencialidad y el compromiso con el paciente.<br>
                    </p>
                </section>

                <section class="row">
                    <h3><br>Sesiones terapéuticas<br></h3>
                    <p>
                        <br>El psicoanálisis es una disciplina científica que estudia y describe al Ser Humano en su complejidad. Tiene como finalidad la investigación y 
                        tratamiento de los problemas emocionales que nos atañen.<br>
                    </p>
                    <p>
                        <br>A partir de la comprensión de las causas que originan el sufrimiento psíquico de la persona, gradualmente puede aliviarlos e ir modificando actitudes que redundarán en su armonía personal y 
                        por ende en la relación que desarrolla con el mundo exterior.<br>
                    </p>
                </section>
               <section>
                   <h3><br>Formas de pago<br></h3>
                   <p><br>Se acordarán en la primer entrevista.<br></p>
               </section>


                <section class = "container row sesiones">
                    <div class="col">
                        <img class= "sesiones-img" src ="./img/semanales.png" alt= "sesiones semanales">
                        <div>
                            <p class="col sesiones-text"><br>Sesiones semanales<br></p>
                        </div>
                    </div>

                    <div class="col">
                        <img class= "sesiones-img" src="./img/quincenales.png" alt= "sesiones quincenales">
                        <div>
                            <p class="col sesiones-text"><br>Sesiones quincenales<br></p>
                        </div>
                    </div>

                    <div class="col">
                        <img class= "sesiones-img" src= "./img/focalizadas.png" alt="sesiones focalizadas">
                        <div>
                            <p class="col sesiones-text"><br>Sesiones focalizadas<br></p>
                        </div>
                    </div>
                </section>

            </article>
        
        </main>
        
        <footer class="row" id="contacto">
            <div class="container row">
                <div class="container col contacto">
                    <h2 class="row contacto-title">CONTACTO</h2>
                    <p class="row contacto-text"><br>Hablemos.<br>No dudes en comunicarte con nosotras mediante la información de contacto a continuación,
                    o envianos un mensaje mediante el formulario.<br></p>
                </div>

                <div class ="col contactos-psi">
                    <div class="container row">
                        <div class="col psicologa">
                            <h3 class="row">Lic. Daniela Steiner</h3>
                            <p class="row tel">+5491168208123</p>
                            <p class="row email-contact">steiner_daniela@hotmail.com</p>
                        </div>
                        <div class="col">
                            <a class="link wapp" href="https://api.whatsapp.com/send/?phone=5491168208123&text=%22Hola+%C2%A1+Hola+Daniela%22&app_absent=0" class="whatsapp" 
                                target="_blank">
                                <i class="fa fa-whatsapp whatsapp-icon row"></i>
                            </a> 
                        </div>
                    </div>

                    <div class="container row">
                        <div class="col psicologa">
                            <h3 class="row">Lic. Melania Bernardez</h3>
                            <p class="row tel">+5491154003190</p>
                            <p class="row email-contact">mbernardez@gmail.com</p>
                        </div>
                        <div class="col">
                            <a class="link wapp" href="https://api.whatsapp.com/send/?phone=5491154003190&text=%22Hola+%C2%A1+Hola+Melania%22&app_absent=0" class="whatsapp" 
                                target="_blank">
                                <i class="fa fa-whatsapp whatsapp-icon row"></i>
                            </a> 
                        </div>
                    </div>   

                    <div class="container row">
                        <div class="col psicologa">
                            <h3 class="row">Lic. Inés Teresa Berro</h3>
                            <p class="row tel">+5491162677424</p>
                            <p class="row email-contact">inestberro@gmail.com</p>
                        </div>
                        <div class="col">
                            <a class="link wapp"href="https://api.whatsapp.com/send/?phone=5491162677424&text=%22Hola+%C2%A1+Hola+Inés%22&app_absent=0" class="whatsapp" 
                                target="_blank">
                                <i class="fa fa-whatsapp whatsapp-icon row"></i>
                            </a> 
                        </div>
                    </div> 

                </div>

                <form class="cf container row">
                <h3 class="container row formulario-contacto">FORMULARIO DE CONTACTO</h3>
                <div class="half left cf">
                    <input type="text" id="input-name" placeholder="Nombre">
                    <input type="email" id="input-email" placeholder="E-mail">
                    <input type="text" id="input-subject" placeholder="Asunto">
                </div>
                <div class="half right cf">
                    <textarea name="message" type="text" id="input-message" placeholder="Dejanos tu mensaje..."></textarea>
                </div>  
                <input type="submit" value="Enviar" id="input-submit">
                </form>
            </div>
        </footer>
    </body>
</html>