<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name= "viewport" content= "width=device-width, initial-scale=1">

    <title>"Psi"</title>
    <link href ="css/normalize.css" rel= "stylesheet">
    <link href ="css/styles.css" rel="stylesheet">
    <link href ="css/notas.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/17c2d4139d.js" crossorigin="anonymous"></script> 
    
    <!--link para la fuente Roboto-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap" rel="stylesheet"> 
</head>

<body>

    <header class="header-main">
        <nav>
            <div>
                <img src ="./img/logo.png" alt= "logo de terapia desde casa">
            </div>
            <ul>
                <li> <a href="/ #inicio">Inicio</a></li>
                <li> <a href="/ #equipo">Equipo</a></li>
                <li> <a href="/ #metodologia">Metodología</a></li>
                <li> <a href="/notas">Notas</a></li>
                <li> <a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <img src="" alt= "banner de terapia desde casa">
        </div>

       <div>
            <h2>La idea de esta sección es compartir reflexiones y experiencias sobre situaciones que nos atraviesan como individuo y como sociedad.
                Estas invitado/a a leer y reflexionar con nosotros dejando tu comentario</h2>       
            
            <ul>
                <li><a href="">Mi vida lejos de mi vida</a></li>
                <li><a href="">Aislamiento Social: Conectarse con uno mismo</a></li>
                <li><a href="">¿Extranjero o Ciudadano del Mundo?</a></li>
                <li><a href="">Aislamiento Social</a></li>
                <li><a href="">Palabras de un desarraigado "voluntario"</a></li>
            </ul>
        </div>

        <article>

            <section>
                <h3>Mi vida lejos de mi vida</h3>
                <p>
                    “Siempre sentí que le escapé a lo que la vida me tenía planeado. Que aquello a lo que llamo destino me arrebató de mi país, de mis costumbres y creencias y a cambio me dio una infinidad de posibilidades. Desde hace 10 años que vivo donde elijo vivir, hago lo que elijo hacer y soy quien elijo ser.
                </p>
                <p>
                    Vivir fuera de mi país me enseñó más sobre mí misma que mis 23 años de vida en Buenos Aires. Me dio la posibilidad de ser yo misma en otro lugar y la oportunidad de reinventarme y renacer como ciudadana de “muchos mundos”. Me enseñó que dentro mío hay sentimientos, emociones, canciones y gustos que me hacen humana, entera, compasiva y rica de alma. 
                </p>
                <p>
                    Las cosas que me dieron mi país y mi cultura no las cambiaría ni por todo el oro del mundo… las largas colas para entrar a un recital, el flan con dulce de leche bien derretido, los abrazos, las miradas; el no tener que explicar, porque la otra persona ya me entendió. Aterrizar en Ezeiza y encontrarme con el chico que me ayuda con el cochecito. El camino en auto. Nuestro tráfico, el shopping, los mates con amigas y mi familia. Mi familia. No hay distancia que nos separe, y eso solo la distancia lo enseña.
                </p>
                <p>
                    Yo elijo vivir afuera. Elegí casarme con un Belga y tener dos hijos Suizos; y reconozco que me enorgullece infinitamente nuestra familia multilingüe. Pero a mis hijos les hablo en español. A mis hijos -nacionalizados argentinos- les hago escuchar a Fito Páez y a María Elena Walsh. A mis hijos intento darles, dentro de mis posibilidades, todo aquello que mi gente y mi país me dio a mí.
                </p>
                <p>
                    Yo, Lupe, soy argentina. No sé de dónde elegirán ser mis hijos, pero eso es de ellos para decidir.”
                </p>
                <p>
                    Guadalupe, 32 años
                </p>

            </section>
    

            <section>
                <h3>Aislamiento Social: Conectarse con uno mismo</h3>
                <p>
                    A partir del inicio del distanciamiento social, comenzaron a aparecer diversas recomendaciones para ayudar a transitar esta situación sorpresiva, inédita e incierta.
                </p>
                <p>
                    Estas recomendaciones se basan en la realización de distintas actividades y rutinas que contribuyan a afrontar los cambios que implican esta fuerte irrupción en la vida cotidiana y modificación de nuestros hábitos. De modo que las personas no se pierdan ni decaigan ante esta situación que viene impuesta desde el afuera.
                </p>
                <p>
                    Sin embargo, también es importante dejar lugar a los momentos de angustia y procesos emocionales que se van dando como consecuencia de las circunstancias tan especiales que estamos viviendo. De modo que cada uno pueda conectarse con lo que le sucede, con lo que siente y pueda llevar adelante esta nueva vida cotidiana de acuerdo a su sentir. Teniendo en cuenta que a cada persona estas vicisitudes la impactan desde la vivencia de su propia historia y construcción personal.
                </p>
                <p>
                    El poder conectarse con uno mismo, dándose el espacio para atravesar distintas sensaciones y también encontrar oportunidades de tomar y disfrutar las cosas positivas y descubrimientos personales -que a pesar de la coyuntura- pueden ir aflorando dentro de cada uno.
                </p>
                <p>
                    La Terapia puede ser una forma de ayudar a procesar lo que nos va pasando y empezar a entendernos un poco mejor.
                </p>
                
            </section>

            <section>
                <h3>¿Extranjero o Ciudadano del Mundo?</h3>
                <p>
                    “Ser un “extranjero” es sentirme también un poco más ciudadano del mundo. Humano. Es salir de lo preestablecido para ver dónde me quiero establecer. Es, también, saber que llevo mi casa a todos lados, que el hogar me lo creo yo. Y darme cuenta que generalmente tenemos mucho más de lo que necesitamos.
                </p>
                <p>
                    Es animarme a probar y a vivir cosas nuevas. Dejar de lado mis creencias por un rato, permitirme transformarlas o incluso derribarlas para así reconstruir, crecer.
                </p>
                <p>
                    Ser un expatriado voluntario es darme cuenta que somos geniales adaptándonos (la única especie que está en todo el planeta). Pero que la adaptación no nos quita las raíces, ni la cultura, ni esos olores o sonidos que nos transportan a lugares bien nuestros.
                </p>
                <p>
                    Personalmente, me cuesta estar lejos. Pero como nos está demostrando esta cuarentena, la distancia no se mide en espacio, se mide en tiempo. Y cada vez falta menos para volver, aunque sea de visita.
                </p>
                <p>
                    Ser un ciudadano del mundo es un privilegio. Privilegio que agradecer.”
                </p>
                <p>
                    Manuel – 30 años
                </p>
                
            </section>

            <section>
                <h3>Aislamiento Social</h3>
                <p>
                    A veces, hay cosas que se nos imponen desde afuera y no se trata de cómo las interpretamos, a lo sumo, de cómo las vivimos o las atravesamos individualmente. La cuarentena es una de ellas. Esto nos lleva a utilizar los recursos personales disponibles para seguir adelante de la mejor manera que podemos. Cada uno desde su lugar y con las herramientas que considera más convenientes.
                </p>
                <p>
                    La cuarentena nos compele a un aislamiento social obligatorio. Y ese “encierro obligado” trae aparejadas consecuencias tanto para el estado físico como para el anímico. Afecta nuestra rutina cotidiana y genera una sensación de extrañeza y anormalidad que se presenta de diferentes formas. Algunas más saludables que otras.
                </p>
                <p>
                    Después de un tiempo, y eso dependerá de cada uno (del nivel de tolerancia a los cambios, a la frustración, a lo coercitivo de la situación), pueden comenzar a aparecer distintos sentimientos que van desde el aburrimiento, malestar, preocupación, irritabilidad, hasta otros más intensos como estrés, ansiedad, depresión.
                </p>
                <p>
                    Ante una situación peligrosa sentimos miedo. Ese miedo es útil, porque nos permite buscar el modo de protegernos del peligro. Si ese miedo se convierte en pánico, nos paraliza, nos impide pensar y cuidarnos.
                </p>
                <p>
                    No hay recetas magistrales ni mágicas que sirvan a todos por igual. Depende de lo que cada uno pueda hacer, con los recursos que encuentre en su interior y la capacidad de convertir la cuarentena en una instancia de aprendizaje. Rescatar lo bueno y crecer enfrentando lo que toque en el camino de la vida.
                </p>
                
            </section>
                

            <section>
                <h3>Palabras de un desarraigado "voluntario"</h3>
                <p>
                    ”Cuando uno se va a vivir al exterior lo primero que extraña son cosas que no esperabas que ibas a extrañar, en mi caso la simplicidad de los amigos y el fútbol de los sábados, la importancia de estar cerca de la familia en los momentos de alegría y tristeza. Son cosas que uno no puede reemplazar, sin importar cuantos años pasen, y es un gran error tratar de imitarlas ya que, casi con seguridad, se va a fracasar y ese fracaso provoca la comparación entre lo nuevo y lo viejo y genera solo angustia y nostalgia.
                </p>
                <p>
                    Hay que abrir bien los ojos, disfrutar y aprender de cada nueva experiencia a veces inesperada que se presenta, crear nuevos lazos y fortalecerlos porque poco se logra en la soledad. Son fundamentales las relaciones humanas, nuevas amistades, nuevos amores, no criticar la nueva cultura a la que se pertenece sino que tratar de integrarse a ella para que en cualquier lugar donde te encuentres sea tu lugar y no olvidarse que el sacrificio que se está haciendo esta ligado a un objetivo personal, a nuestras ambiciones y a una meta que estamos convencidos que queremos alcanzar.
                </p>
                <p>
                    Esa meta no necesariamente es siempre la misma, ya que puede transformarse o mutar en otras a lo largo del tiempo pero si por algún motivo desaparece o, en el mejor de los casos, simplemente se alcanza quiere decir que llego el momento de reinventarse.”
                </p>
                <p>
                    Gabriel – 30 años
                </p>
                
            </section>

        </article>
      

    </main>
    
    <footer id="contacto">
        <div class="contacto">
            <h2>Contacto</h2>
            <p>Hablemos 👋. No dudes en comunicarte con nosotras mediante la información de contacto a continuación,
            o envianos un mensaje mediante el formulario.</p>
        </div>

        <div class ="contactos-psi">
            <h2>Ponete en contacto con nosotras</h2>
            <div>
               <h3>Lic. Daniela Steiner</h3>
               <div>
                  <p>+5491168208123</p><a href="https://api.whatsapp.com/send/?phone=5491168208123&text=%22Hola+%C2%A1+Hola+Daniela%22&app_absent=0" class="whatsapp" 
                    target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>  
               </div>
                <p>steiner_daniela@hotmail.com</p>
            </div>

            <div>
                <h3>Lic. Melania Bernardez</h3>
                <div>
                   <p>+5491154003190</p><a href="https://api.whatsapp.com/send/?phone=5491154003190&text=%22Hola+%C2%A1+Hola+Melania%22&app_absent=0" class="whatsapp" 
                    target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a> 
                </div>
                <p>mbernardez@gmail.com</p>
            </div>

            <div>
                <h3>Lic. Inés Teresa Berro</h3>
                <div>
                    <p>+5491162677424</p><a href="https://api.whatsapp.com/send/?phone=5491162677424&text=%22Hola+%C2%A1+Hola+Inés%22&app_absent=0" class="whatsapp" 
                    target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a> 
                </div>
                <p>mbernardez@gmail.com</p>
            </div>
            
        </div>

        <form class ="form-contacto" action="/contact" method="POST">
            <input type ="email" name= "email" placeholder= "Correo electrónico" required>
            <input type ="text" name= "name" placeholder= "Nombre" required>
            <textarea name ="comentario" id="comentario"> Escríbenos...</textarea>
        </form>

    </footer>
        
    </body>
    </html>